
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>School details </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet"  href = "css/styles.css" type = "text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Parisienne&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/30cfedd062.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "/stylesheets/school_styles.css" type = "text/css">
  </head>

  <body>
    <section id = "title">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="../images/vidvat.png" class="img-responsive logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><b>Home</b></a>
            </li>
			   <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/registerschool"><b>Register</b></a>
            </li>
			  <li class="nav-item">
              <a class="nav-link" href="/loginschool"><b>Login</b></a>
            </li>
			   <% } else { %>
			   <li class="nav-item">
				   <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><b>logout</b></a>
            </li>
			  <% } %>
          </ul>
        </div>
      </nav>
  </section>

  <section id = "contents">
  <div class="row school-details-row">
    <div  style = "border: 2px solid; border-radius: 2%; height: 100%; margin-top: 1%;" class="col-lg-4 col-md-6 school-column">
      <h2 style = "font-family:  'Chilanka', cursive; font-weight: bold;">More Details:</h2>
      <hr/>
      <p class ="more-details-text">
      <%=schooling.moreInfo%>
      </p>


    </div>


    <div style = "padding-top:0%;margin-top: 1%;" class="col-lg-8 col-md-6 school-column">
      <div class="card school-details-card" >
        <img src="<%= schooling.image %>" class="card-img-top school-details-image" alt="...">
        <div style = "padding-top: 1%;" class="card-body">
          <h3 class=" school-name card-title"><%=schooling.name%></h3>
          <hr>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: <%=schooling.address%></li>
          <li class="list-group-item">Contact: <%=schooling.contact%></li>
          <li class="list-group-item">Subject: <%=schooling.subject%></li>
          <li class="list-group-item">Email: <%=schooling.email%></li>
          <a href = "/schooldetails"><li class="list-group-item"><button type="button" class="btn btn-success button-apply">Apply</button></a>
            <% if(currentUser && schooling.author.id.equals(currentUser._id)){ %>
            <a href="/schooldetails/<%=schooling._id%>/edit"><button type="button" class="btn btn-success button-right">Edit</button></a>
            <a href="/schooldetail/<%=schooling._id%>"><button type="button" class="btn btn-success button-right">Delete</button></a>
          </li>
            <% }%>

        </ul>
      </div>
    </div>
  </div>



</div>





  </section>





  </body>



</html>




